<nav>
    <ul class="pagination">
        <li class="is-btn not-allow">
            <a href="#">
                <i class="fa-solid fa-angles-left"></i>
            </a>
        </li>
        <li class="is-btn not-allow">
            <a href="#">
                <i class="fa-solid fa-angle-left"></i>
            </a>
        </li>
        <li class="active">
            <span class="current">1</span>
        </li>
        <li>
            <a href="#" class="inactive">
                2
            </a>
        </li>
        <li class="is-btn">
            <a href="#">
                <i class="fa-solid fa-angle-right"></i>
            </a>
        </li>
        <li class="is-btn">
            <a href="#">
                <i class="fa-solid fa-angles-right"></i>
            </a>
        </li>
    </ul>
</nav>