@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Outfit:wght@600;700;800;900&family=Shippori+Mincho&family=Zen+Kaku+Gothic+New&display=swap");
* {
  font-family: "Luckiest Guy", cursive;
  font-family: "Outfit", sans-serif;
  font-family: "Shippori Mincho", serif;
  font-family: "Zen Kaku Gothic New", sans-serif;
  list-style: none;
  color: rgb(43, 39, 39);
  text-decoration: none;
}

a {
  color: rgb(0, 190, 190);
}

html,
body {
  color: rgb(43, 39, 39);
  font-family: "Zen Kaku Gothic New", sans-serif, "Outfit", sans-serif;
  height: 100%;
  margin: 0;
}

#root {
  z-index: -100;
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

.link {
  color: rgb(0, 190, 190);
}
.link:hover {
  color: #50915a;
}

.title {
  font-size: 150%;
  margin: 1rem 0;
  font-weight: 900;
}

#top {
  overflow: hidden;
  padding-top: 80px;
  height: 100%;
  width: 100%;
}
#top .top-hero {
  position: relative;
  margin: 0 auto;
  width: 85%;
  height: 95%;
  background-color: #EF9A9A;
}
#top .top-hero .phrase-hero-top {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 1.5rem;
  top: 0.5rem;
}
#top .top-hero .phrase-hero-top h2 {
  font-size: 700%;
  font-family: "Outfit", sans-serif;
  font-weight: bolder;
}
#top .top-hero .hero-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-10deg);
}
#top .top-hero .phrase-hero-bottom {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
#top .top-hero .phrase-hero-bottom h2 {
  text-align: end;
  font-size: 550%;
  font-family: "Shippori Mincho", serif;
  font-weight: bolder;
}