{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ st_title }} -ChirpCakes-</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    
</head>
<body>
    {% include 'main/component/banner.html' %}
    <div id="root">
        <main id="top">
            <div class="top-hero">
                <div class="phrase-hero-top">
                    <h2 class="title">
                        <span>C</span>
                        <span>h</span>
                        <span>i</span>
                        <span>r</span>
                        <span>p</span>
                    </h2>
                    <h2 class="title">
                        <span>C</span>
                        <span>a</span>
                        <span>k</span>
                        <span>e</span>
                        <span>s</span>
                    </h2>
                </div>
                <img src="{% static 'main/image/cake.png' %}" alt="" class="hero-img" width="900px" height="900px">
                <div class="phrase-hero-bottom">
                    <h2 class="title">
                        <span>文</span>
                        <span>鳥</span>
                        <span>の</span>
                        <span>よ</span>
                        <span>う</span>
                        <span>に</span>
                        <span>、</span>
                    </h2>
                    <h2 class="title">
                        <span>な</span>
                        <span>め</span>
                        <span>ら</span>
                        <span>か</span>
                        <span>な</span>
                        <span>シ</span>
                        <span>ョ</span>
                        <span>ー</span>
                        <span>ト</span>
                        <span>ケ</span>
                        <span>ー</span>
                        <span>キ</span>
                        <span>。</span>
                    </h2>
                </div>
            </div>
            <!--  -->
        </main>
        <!-- section-top -->
    </div>
    <script>
        i = 0;
        let elem1 = document.querySelectorAll('.phrase-hero-top .title');
        let elem2 = document.querySelectorAll('.phrase-hero-bottom .title');
        let elem3 = document.getElementsByClassName('top-hero');
        window.addEventListener("load",(event)=>{
            elem3[0].classList.add('back-anim');
            elem1.forEach(element => {
                element.classList.add("anim");
            });
            elem2.forEach(element => {
                element.classList.add("anim");
            });
        });
    </script>
</body>
</html> 