{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ st_title }} -ChirpCakes-</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    {% include 'main/component/banner.html' %}
    <div id="root">
        <div class="grid">
            {% for i in item %}
            <div class="grid-item">
                <div class="grid-card">
                    <div class="grid-card-item">
                        <a href="{% url 'main:product' i.slug %}">
                            <img src="{{ MEDIA_URL }}{{ i.item_img }}" alt="{{ i.item_name }}">
                        </a>
                    </div>
                    <div class="grid-card-item">
                        <h2>
                            {{ i.item_name }}
                        </h2>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html> 