{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ st_title }} -ChirpCakes-</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>

<body>
    <script>
        // フォームに値が残ってしまう対策
        window.addEventListener('pageshow', () => {
            if (window.performance.navigation.type == 2) location.reload();
            document.getElementById("form").reset();
            let rmv = document.getElementById("error").remove();
            list_element.querySelector(".errorlist").remove();
        });
    </script>
    <div id="root">
        <main id="login">
            <div class="user-area">
                <div class="logo-area flex">
                    <img src="{% static 'main/image/Logo.svg' %}" alt="" width="12%" height="12%">
                    <img src="{% static 'main/image/ChirpCakes.svg' %}" alt="" width="12%" height="12%">
                </div>
                <h2 class="title">
                    ログイン
                </h2>
                <div class="line"></div>
                {% if status %}
                <div class="error">
                    ログインID、またはパスワードが違います
                </div>
                {% endif %}
                <div>
                </div>
                <div class="form-body">
                    <form action="{% url 'main:login' %}" enctype="multipart/form-data" method="post" class="form">
                        {% csrf_token %}
                        <div class="form-field">
                            <div class="form-text">
                                <div class="form-label">
                                    <label for="username">
                                        ユーザーID
                                    </label>
                                </div>
                                <!-- form-label -->
                                <input type="text" placeholder="ユーザーID" name="username" id="username">
                            </div>
                            <!-- form-text-group -->
                        </div>
                        <!-- form-field -->
                        <div class="form-field">
                            <div class="form-text">
                                <div class="form-label">
                                    <label for="password">
                                        パスワード
                                    </label>
                                </div>
                                <!-- form-label -->
                                <input type="password" name="password" id="password" placeholder="パスワード">
                            </div>
                            <!-- form-text-group -->
                        </div>
                        <!-- form-field -->
                        <div class="form-field">
                            <div class="form-submit">
                                <input type="submit" value="ログイン">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="login">
                    <div class="login-button">
                        <a href="CreateUser" style="border: none;">新規登録はこちらから</a>
                    </div>
                </div>
            </div>
    </div>
    </main>
    </div>
</body>

</html>