{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ st_title }} -ChirpCakes-</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>

<body>
    <script>
        // フォームに値が残ってしまう対策
        window.addEventListener('pageshow', () => {
            if (window.performance.navigation.type == 2) location.reload();
            document.getElementById("form").reset();
            let rmv = document.getElementById("error").remove();
            list_element.querySelector(".errorlist").remove();
        });
    </script>
    <div id="root">
        <main id="login">
            <div class="user-area box">
                <div class="logo-area">
                    <a href="{% url 'main:index' %}" class="flex">
                        <img src="{% static 'main/image/Logo.svg' %}" alt="" width="12%" height="12%">
                        <img src="{% static 'main/image/ChirpCakes.svg' %}" alt="" width="12%" height="12%">
                    </a>
                </div>
                <div class="line"></div>
                <h2 class="title">
                    ログアウトしました
                </h2>
                <p>
                    {{ user.username }}さん、またね！
                </p>

                <meta http-equiv="refresh" content="2; url={% url 'main:index' %}">

            </div>
    </div>
    </main>
    </div>
</body>

</html>