{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ st_title }} -ChirpCakes-</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>

<body>
    {% include 'main/component/banner.html' %}
    <div id="root">
        <main id="orderhistory">
            {% if status %}
            {% for item in data %}
            <div class="order-block">
                <div class="order-title">
                    注文番号 : {{ item.order_id}}
                </div>
                <div class="order-data">
                    <div class="order-img">
                    {% for img in item.related_order.all %}
                    <img src="{{ MEDIA_URL }}{{ img.item_id.item_img }}" alt="">
                    {% endfor %}
                    </div>
                    <div class="field">
                        <div class="data">
                            <div class="head">
                                注文日
                            </div>
                            <div class="body">
                                {{ item.create }}
                            </div>
                            <div class="head">
                                合計金額
                            </div>
                            <div class="body">
                                {{ item.total_pay }}
                            </div>
                            <div class="head">
                                到着予定日
                            </div>
                            <div class="body">
                                {{ item.arrive }}
                            </div>
                            <div class="head">
                            </div>
                            <div class="body">
                                <a href="{% url 'main:orderdetail' item.order_id %}">
                                    詳細
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- order-block -->
            {% endfor %}
            {% else %}
            <h1>
                注文履歴はありません
            </h1>
            {% endif %}
        </main>
    </div>
</body>

</html>