{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ st_title }} -ChirpCakes-</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>

<body>
    <script>
        // フォームに値が残ってしまう対策
        window.addEventListener('pageshow', () => {
            if (window.performance.navigation.type == 2) location.reload();
            document.getElementById("form").reset();
            let rmv = document.getElementById("error").remove();
            list_element.querySelector(".errorlist").remove();
        });
    </script>
    {% include 'main/component/banner.html' %}
    <div id="root">
        <main id="order">
            {% if status %}
            <div class="data-order-group">
                <div class="data-order table">
                    <div class="table-items is-title">
                        カート
                    </div>
                    <div class="table-items">
                        更新日時:{{ update }}
                    </div>
                </div>
                <!-- data-order -->
            </div>
            <!--  data-order-group -->
            <!-- data-title -->
            <div class="data-field">
                <div class="data-main">
                    <div class="table">
                        <div class="data-title">
                            {{ datacount }}件
                        </div>
                    </div>
                    <!-- data-title  -->
                    {% for item in data %}
                    <div class="data-item-group">
                        <div class="data-item-img">
                            <a href="{% url 'main:product' item.item_id.slug %}">
                                <img src="{{ MEDIA_URL }}{{ item.item_id.item_img }}" alt="" height="120px"
                                    width="120px">
                            </a>
                        </div>
                        <!-- data-item-img -->
                        <div class="data-item-detail">
                            <div class="data-item-name">
                                <a href="{% url 'main:product' item.item_id.slug %}">{{ item.item_id.item_name }}</a>
                            </div>
                            <!-- data-item-name -->
                            <div class="data-item-quantity">
                                {{ item.quantity }}
                            </div>
                            <div class="data-item-option">
                                {% if item.option %}
                                {% endif %}
                            </div>
                            <!-- data-item-quantity -->
                            <div class="data-item-price">
                                {{ item.get_total_price }}
                            </div>
                            <!-- data-item-price -->
                            <div class="data-item-link">
                                <a href="{% url 'main:itemdelete' item.item_id.slug %}">
                                    カートから削除
                                </a>
                            </div>
                            <!-- data-item-link -->
                        </div>
                        <!-- data-item-detail -->
                    </div>
                    <!-- data-item-group -->
                    {% endfor %}
                    {% if datacount > 3%}
                    <nav>
                        <ul class="pagination">
                            <li class="is-btn not-allow">
                                <a href="#">
                                    <i class="fa-solid fa-angles-left"></i>
                                </a>
                            </li>
                            <li class="is-btn not-allow">
                                <a href="#">
                                    <i class="fa-solid fa-angle-left"></i>
                                </a>
                            </li>
                            <li class="active">
                                <span class="current">1</span>
                            </li>
                            <li>
                                <a href="#" class="inactive">
                                    2
                                </a>
                            </li>
                            <li class="is-btn">
                                <a href="#">
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>
                            </li>
                            <li class="is-btn">
                                <a href="#">
                                    <i class="fa-solid fa-angles-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    {% endif %}
                </div>
                <div class="data-side">
                    <div class="data-price-group">
                        <div class="data-title">
                            合計
                        </div>
                        <div class="data-price table">
                            <div class="table-items">
                                アイテムの小計
                            </div>
                            <div class="table-items">
                                {{ total }}円
                            </div>
                            {% if discount %}
                            <div class="table-items">
                                値引き
                            </div>
                            <div class="table-items is-sale">
                                -{{ discount }}円
                            </div>
                            {% endif %}
                            <div class="table-items is-total">
                                合計
                            </div>
                            <div class="table-items is-total">
                                {{ total }}円
                            </div>
                        </div>
                        <!-- data-price -->
                    </div>
                    <!-- data-price-group -->
                    <div class="gotopage">
                        <a href="{% url 'main:orderCheck' %}">
                            決済手続きに進む
                        </a>
                    </div>
                </div>
                <!-- data-body -->
            </div>
            <!-- data-side -->
            {% else %}
            <div class="empty">
                <h2>
                    カートは空です
                </h2>

                <p>
                    <a href="{% url 'main:item' %}">
                        戻る
                    </a>
                </p>
            </div>
            {% endif %}
        </main>
    </div>
</body>

</html>