{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ st_title }} -ごますけ商店-</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>

<body>
    <script>
        // フォームに値が残ってしまう対策
        window.addEventListener('pageshow', () => {
            if (window.performance.navigation.type == 2) location.reload();
            document.getElementById("form").reset();
            let rmv = document.getElementById("error").remove();
            list_element.querySelector(".errorlist").remove();
        });
    </script>
    {% include 'main/component/banner.html' %}
    <div id="root">
        <main id="order">
            <div class="data-order-group">
                <div class="data-order table">
                    <div class="table-items is-title">
                        カート
                    </div>
                    <div class="table-items">
                        注文日時 : 2021年3月9日
                    </div>
                </div>
                <!-- data-order -->
            </div>
            <!--  data-order-group -->
            <!-- data-title -->
            <div class="data-field">
                <div class="data-main">
                    <div class="table">
                        <div class="data-title">
                            4件
                        </div>
                    </div>
                    <div class="data-item-group">
                        <div class="data-item-img">
                            <img src="../../static/main/image/buncho.png" alt="" height="160px" width="160px">
                        </div>
                        <!-- data-item-img -->
                        <div class="data-item-detail">
                            <div class="data-item-name">
                                <a href="#">BUNCHO</a>
                            </div>
                            <!-- data-item-name -->
                            <div class="data-item-quantity">
                                11
                            </div>
                            <div class="data-item-option">
                                オプション
                            </div>
                            <!-- data-item-quantity -->
                            <div class="data-item-price">
                                2030450
                            </div>
                            <!-- data-item-price -->
                            <div class="data-item-link">
                                <a href="#">
                                    商品ページへ
                                </a>
                            </div>
                            <!-- data-item-link -->
                        </div>
                        <!-- data-item-detail -->
                    </div>
                    <!-- data-item-group -->
                    <div class="data-item-group">
                        <div class="data-item-img">
                            <img src="../../static/main/image/buncho.png" alt="" height="160px" width="160px">
                        </div>
                        <!-- data-item-img -->
                        <div class="data-item-detail">
                            <div class="data-item-name">
                                <a href="#">BUNCHO</a>
                            </div>
                            <!-- data-item-name -->
                            <div class="data-item-quantity">
                                11
                            </div>
                            <!-- data-item-quantity -->
                            <div class="data-item-price">
                                2030450
                            </div>
                            <!-- data-item-link -->
                            <div class="data-item-link">
                                <a href="#">
                                    商品ページへ
                                </a>
                            </div>
                            <!-- data-item-link -->
                        </div>
                        <!-- data-item-detail -->

                    </div>
                    <!-- data-item-group -->
                    <div class="data-item-group">
                        <div class="data-item-img">
                            <img src="../../static/main/image/buncho.png" alt="" height="160px" width="160px">
                        </div>
                        <!-- data-item-img -->
                        <div class="data-item-detail">
                            <div class="data-item-name">
                                <a href="#">BUNCHO</a>
                            </div>
                            <!-- data-item-name -->
                            <div class="data-item-quantity">
                                11
                            </div>
                            <!-- data-item-quantity -->
                            <div class="data-item-price">
                                2030450
                            </div>
                            <!-- data-item-link -->
                            <div class="data-item-link">
                                <a href="#">
                                    商品ページへ
                                </a>
                            </div>
                            <!-- data-item-link -->
                        </div>
                        <!-- data-item-detail -->
                    </div>
                    <!-- data-item-group -->
                    <nav>
                        <ul class="pagination">
                            <li class="is-btn not-allow">
                                <a href="#">
                                    <i class="fa-solid fa-angles-left"></i>
                                </a>
                            </li>
                            <li class="is-btn not-allow">
                                <a href="#">
                                    <i class="fa-solid fa-angle-left"></i>
                                </a>
                            </li>
                            <li class="active">
                                <span class="current">1</span>
                            </li>
                            <li>
                                <a href="#" class="inactive">
                                    2
                                </a>
                            </li>
                            <li class="is-btn">
                                <a href="#">
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>
                            </li>
                            <li class="is-btn">
                                <a href="#">
                                    <i class="fa-solid fa-angles-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="data-side">
                    <div class="data-price-group">
                        <div class="data-title">
                            お支払情報
                        </div>
                        <div class="data-price table">
                            <div class="table-items">
                                アイテムの小計
                            </div>
                            <div class="table-items">
                                3000円
                            </div>
                            <div class="table-items">
                                送料
                            </div>
                            <div class="table-items">
                                100円
                            </div>
                            <div class="table-items">
                                決済方法
                            </div>
                            <div class="table-items">
                                ツケ
                            </div>
                            <div class="table-items">
                                決済手数料
                            </div>
                            <div class="table-items">
                                100円
                            </div>
                            <div class="table-items">
                                値引き
                            </div>
                            <div class="table-items is-sale">
                                -1000円
                            </div>
                            <div class="table-items is-total">
                                合計
                            </div>
                            <div class="table-items is-total">
                                5000000万円
                            </div>
                        </div>
                        <!-- data-price -->
                    </div>
                    <!-- data-price-group -->
                    <div class="data-ads-group">
                        <div class="data-title">
                            お届け先
                        </div>
                        <!-- data-ads-group -->
                    </div>
                    <!-- data-ads-group -->
                </div>
                <!-- data-body -->
            </div>
            <!-- data-side -->
        </div>
        <!-- data-field -->
            <!-- {% if status %}
                {% for item in data %}
                    <p>
                        {{ item.item_id.item_name }}
                    </p>
                    <p>
                        {{ item.quantity }}
                    </p>
                    <p>
                        <a href="{% url 'main:itemdelete' item.item_id.slug %}">
                            カートから削除
                        </a>
                    </p>
                {% endfor %}
            {% else %}
                <h1>
                    カートは空です
                </h1>
            {% endif %} -->
        </main>
    </div>
</body>

</html>