<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ st_title }} -ChirpCakes- </title>
</head>
<body>
    <div id="root">
        <div id="orderComplete">
            <div class="title">
                <h1>
                    注文完了！
                </h1>
            </div>
            <div class="contents">
                <img src="../../media/main/icon/buncho08_icon.png" alt="">
            </div>

            <meta http-equiv="refresh" content="2; url={{ redirect_url }}">
        </div>
    </div>
</body>
</html>