{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ st_title }} -ChirpCakes- </title>
</head>
<body>
    <div id="root">
        <main id="login">
            <div class="user-area box">
                <div class="logo-area flex">
                    <img src="{% static 'main/image/Logo.svg' %}" alt="" width="12%" height="12%">
                    <img src="{% static 'main/image/ChirpCakes.svg' %}" alt="" width="12%" height="12%">
                </div>
                <div class="cover">
                    <div class="title">
                        <h2>
                            注文完了！
                        </h2>
                    </div>
                </div>
                <meta http-equiv="refresh" content="2; url={{ redirect_url }}">
            </div>
        </main>
    </div>
</body>
</html>