{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ st_title }} -Chirp Cakes-</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <script src="https://kit.fontawesome.com/c5688669be.js" crossorigin="anonymous"></script>
</head>

<body>
    {% include 'main/component/banner.html' %}
    <div id="root" style="background-color: rgb(255, 242, 242);">
        <main id="orderCheck">
            <div id="progress">
                <ul class="bar">
                    <li class="now">
                        <div class="process">
                            お届け先
                        </div>
                        <div class="line">
                        </div>
                    </li>
                    <li>
                        <div class="process">
                            確認
                        </div>
                        <div class="line">
                        </div>
                    </li>
                    <li>
                        <div class="process">
                            注文完了
                        </div>
                        <div class="line">
                        </div>
                    </li>
                </ul>
                <script>
                    i = 0;
                    let elem1 = document.querySelectorAll('#progress .bar li');
                    window.addEventListener("load", (event) => {
                        for (i = 0; i < elem1.length; i++) {
                            if (elem1[i].classList.contains("now")) {
                                break;
                            }
                            elem1[i].classList.add('afline');
                        }
                        // alert(i);
                        elem1[i].classList.add('now-ani');
                    });
                </script>
            </div>
            {% if user.pref %}
            <!-- is-hidden 編集ボタンを押さないと表示されない-->
            <div class="order-block is-front is-hidden">
                <div class="field">
                    <div class="title">
                        お届け先の編集
                    </div>
                    <div class="data">
                        <div class="form-body">
                            <form action="{% url 'main:orderCheck' %}" method="post" name="order_form" id="order_form">
                                {% if error %}
                                <p style="color: red;">
                                    正しく入力してください。
                                </p>
                                {% endif %}
                                {% csrf_token %}
                                {% for item in form %}
                                {% if item.name == 'pay' %}
                                <div class="is-hidden">
                                    {% for i in item %}
                                    {{ i.tag }}
                                    {% endfor %}
                                </div>
                                {% else %}
                                <div class="form-field">
                                    <div class="form-text">
                                        <div class="form-label">
                                            <label for="{{ item.id_for_label }}">
                                                {{ item.label }}
                                            </label>
                                        </div>
                                        <!-- form-label -->
                                        {% if item.errors %}
                                        <div class="form-label-ano">
                                            {{ item.errors }}
                                        </div>
                                        {% endif %}
                                        {% if item.name == 'post' %}
                                        <div class="is-hidden" id="post-error" style="color: red;">
                                            存在しない郵便番号です。
                                        </div>
                                        {% endif %}
                                        <input type="text" name="{{ item.name }}"
                                            {% if item.field.required %}required{% endif %} id="{{ item.id_for_label }}"
                                            placeholder="{{ item.label }}" value="{{ item.initial }}">
                                    </div>
                                    <!-- form-text-group -->
                                </div>
                                {% endif %}
                                <!-- form-field -->
                                {% endfor %}
                                <div class="form-submit">
                                    <div id="close">
                                        とじる
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- form-body -->
                    </div>
                </div>
            </div>
            <!-- 編集ボタン押さないと表示されないエリア終了 -->
            <!-- order-block is-front -->
            <div class="order-block">
                <div class="title">
                    お届け先
                </div>

                <div class="field">
                    <a id="edit">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                    <div class="data">
                        <div class="head">
                            住所
                        </div>
                        <div class="body">
                            {{ user.post }}
                            <br>{{ user.pref }}{{ user.town }}{{ user.address }}
                        </div>
                        <div class="head">
                            お名前
                        </div>
                        <div class="body">
                            {{ user.myouji }} {{ user.namae }}
                        </div>
                        <div class="head">
                            メールアドレス
                        </div>
                        <div class="body">
                            {{ user.email }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- order-block -->
            {% else %}
            <!-- is-hidden 編集ボタンを押さないと表示されない-->
            <div class="order-block">
                <div class="title">
                    お届け先の登録
                </div>
                <div class="field">
                    <div class="data-form">
                        <div class="form-body">
                            <form action="{% url 'main:orderCheck' %}" method="post" name="order_form" id="order_form">
                                {% csrf_token %}
                                {% for item in form %}
                                {% if item.name == 'pay' %}
                                <div class="is-hidden">
                                    {% for i in item %}
                                    {{ i.tag }}
                                    {% endfor %}
                                </div>
                                {% else %}
                                <div class="form-field">
                                    <div class="form-text">
                                        <div class="form-label">
                                            <label for="{{ item.id_for_label }}">
                                                {{ item.label }}
                                            </label>
                                        </div>
                                        <!-- form-label -->
                                        {% if item.errors %}
                                        <div class="form-label-ano">
                                            {{ item.errors }}
                                        </div>
                                        {% endif %}
                                        <input type="text" name="{{ item.name }}"
                                            {% if item.field.required %}required{% endif %} id="{{ item.id_for_label }}"
                                            {% if item.name == 'email' %} 
                                            placeholder="xxx@ooo.□□□"
                                            {% elif item.name == 'post' %}
                                            placeholder="399-0021"
                                            {% else%}
                                            placeholder="{{ item.label }}"
                                            {% endif %}
                                            >
                                    </div>
                                    <!-- form-text-group -->
                                </div>
                                {% endif %}
                                <!-- form-field -->
                                {% endfor %}
                            </form>
                        </div>
                        <!-- form-body -->
                    </div>
                </div>
            </div>
            <!-- order-block -->
            {% endif %}
            <div class="order-block">
                <div class="title">
                    お支払方法を選ぶ
                </div>
                <div class="field">
                    <form action="#" method="post" id="order_cash" name="order_cash">
                        {% csrf_token %}
                        <div class="form-radio-rows">
                            <input type="radio" name="cash" value="1" id="cash1" checked onClick="setCashValue(1)">
                            <div class="form-label">
                                <label for="cash1">
                                    クレジットカード
                                </label>
                            </div>
                        </div>
                        <div class="form-radio-rows">
                            <input type="radio" name="cash" value="2" id="cash2" onClick="setCashValue(2)">
                            <div class="form-label">
                                <label for="cash2">
                                    代金引換
                                </label>
                            </div>
                        </div>
                        <div class="form-radio-rows">
                            <input type="radio" name="cash" value="3" id="cash3" onClick="setCashValue(3)">
                            <div class="form-label">
                                <label for="cash3">
                                    後払い決済
                                </label>
                            </div>
                        </div>
                        <div class="form-radio-rows">
                            <input type="radio" name="cash" value="4" id="cash4" onClick="setCashValue(4)">
                            <div class="form-label">
                                <label for="cash4">
                                    振込
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- order-block -->
            <div class="order-block">
                <div class="submit">
                    <input type="submit" value="内容の確認" form="order_form">
                </div>
            </div>

        </main>
    </div>
    <script>
        // let autoComplement = new postcodejp.address.AutoComplementService('i7QvflXhuUzUcbDm2p4dpl1iarssGa8T3ABcT5e');
        {% autoescape off %};
        // きもい
        {% if user.post %}
        let button = document.getElementById('edit');
        let front = document.querySelector('.is-front');
        let closebtn = document.getElementById('close');
        button.addEventListener('click', function () {
            front.classList.remove('is-hidden');
        });

        closebtn.addEventListener('click', function () {
            // alert('あああ');
            front.classList.toggle('is-hidden');
        });

        {% endif %}
        let radio = document.order_cash.cash;
        let cashValueButton = document.order_form.pay;
        let errors = Number({{ error }});
        {% endautoescape %}
        cashValueButton[0].checked = true;

        function setCashValue(selectNum) {
            cashValueButton[selectNum - 1].checked = true;
            // alert(cashValueButton[selectNum - 1].value);
        };


        window.addEventListener("load", (event)=>{
            if(errors)
            {
                front.classList.remove('is-hidden');
            }
        });

        // 郵便番号用
        let post = document.getElementById('id_post');
        let befVal = ''
        let post_error = document.getElementById('post-error');
        post.addEventListener('input', function(e){
            if((!!Number(e.target.value[e.target.value.length - 1]) || e.target.value[e.target.value.length - 1] == '0') && e.target.value.length <= 8)
            {
                if(e.target.value.length == 3 && befVal[e.target.value.length] != '-')
                {
                    e.target.value += '-';
                }
                if(e.target.value.length == 4 && e.target.value.indexOf('-') == -1)
                {
                    let temp_1 = e.target.value[e.target.value.length - 1];
                    e.target.value = e.target.value.slice(0, e.target.value.length - 1) + '-' + temp_1;
                }
            }
            else
            {
                e.target.value = e.target.value.slice(0, e.target.value.length - 1);
            }
            befVal = e.target.value;
        });


        post.addEventListener('change', function(e) {
        postcode = e.target.value.slice(0, 3) + e.target.value.slice(4, e.target.value.length);
        if (postcode.length !== 7) return;
        
        const url = `https://postcode.teraren.com/postcodes/${postcode}.json`;

        fetch(url)
            .then(response => response.json())
            .then(json => {
            document.getElementById('id_pref').value = json.prefecture;
            document.getElementById('id_town').value = json.city;
            document.getElementById('id_address').value = json.suburb;
            if(!post_error.classList.contains('is-hidden'))
            {
                post_error.classList.toggle('is-hidden');
            }
            })
            .catch(error => {
            console.error(error);
            post_error.classList.remove('is-hidden');
            ['id_pref', 'id_town', 'id_address'].forEach(id => {
                document.getElementById(id).value = '';
            });
            });
        });
    </script>
</body>

</html>