{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ st_title }} -ChirpCakes-</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <script src="https://kit.fontawesome.com/c5688669be.js" crossorigin="anonymous"></script>
</head>

<body>
    <script>
        // フォームに値が残ってしまう対策
        window.addEventListener('pageshow', () => {
            if (window.performance.navigation.type == 2) location.reload();
            document.getElementById("form").reset();
            let rmv = document.getElementById("error").remove();
            list_element.querySelector(".errorlist").remove();
        });
    </script>
    {% include 'main/component/banner.html' %}
    <div id="root">
        <main id="orderhistdetail">
            <div class="data-order-group">
                <div class="data-order table">
                    <div class="table-items is-title">
                        注文番号 : {{ data.0.order_id.order_id }}
                    </div>
                    <div class="table-items">
                        注文日時 :{{ data.0.order_id.create }}
                    </div>
                </div>
                <!-- data-order -->
                <div class="backpage">
                    <a href="{% url 'main:orderhistory' %}">
                        <i class="fa-solid fa-arrow-left-long"></i>
                        注文履歴へ戻る
                    </a>
                </div>
            </div>
            <!--  data-order-group -->
            <!-- data-title -->
            <div class="data-field">
                <div class="data-main">
                    <div class="table">
                        <div class="data-title">
                            {{ data.count }}件
                        </div>
                    </div>
                    <!-- data-title  -->
                    <div class="item-group">
                        {% for item in data %}
                        <div class="data-item-group">
                            <div class="data-item-img">
                                <a href="{% url 'main:product' item.item_id.slug %}">
                                    <img src="{{ MEDIA_URL }}{{ item.item_id.item_img }}" alt="" height="120px"
                                        width="120px">
                                </a>
                            </div>
                            <!-- data-item-img -->
                            <div class="data-item-detail">
                                <div class="data-item-name">
                                    <a
                                        href="{% url 'main:product' item.item_id.slug %}">{{ item.item_id.item_name }}</a>
                                </div>
                                <!-- data-item-name -->
                                <div class="data-item-quantity">
                                    {{ item.quantity }}
                                </div>
                                <div class="data-item-option">
                                    {% if item.option %}
                                    {% endif %}
                                </div>
                                <!-- data-item-quantity -->
                                <div class="data-item-price">
                                    {{ item.get_total_price }}
                                </div>
                                <!-- data-item-price -->
                            </div>
                            <!-- data-item-detail -->
                        </div>
                        <!-- data-item-group -->
                        {% endfor %}
                    </div>
                    {% if datacount > 3 %}
                    <nav>
                        <ul class="pagination">
                            <li class="is-btn not-allow">
                                <a href="#">
                                    <i class="fa-solid fa-angles-left"></i>
                                </a>
                            </li>
                            <li class="is-btn not-allow">
                                <a href="#">
                                    <i class="fa-solid fa-angle-left"></i>
                                </a>
                            </li>
                            <li class="active">
                                <span class="current">1</span>
                            </li>
                            <li>
                                <a href="#" class="inactive">
                                    2
                                </a>
                            </li>
                            <li class="is-btn">
                                <a href="#">
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>
                            </li>
                            <li class="is-btn">
                                <a href="#">
                                    <i class="fa-solid fa-angles-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    {% endif %}
                </div>
                <div class="data-side">
                    <div class="data-price-group">
                        <div class="data-title">
                            合計
                        </div>
                        <div class="data-price table">
                            <div class="table-items">
                                アイテムの小計
                            </div>
                            <div class="table-items">
                                {{ data.0.order_id.total_pay }}円
                            </div>
                            <div class="table-items">
                                送料
                            </div>
                            <div class="table-items">
                                {{ data.0.order_id.postage }}円
                            </div>
                            <div class="table-items is-total">
                                合計
                            </div>
                            <div class="table-items is-total">
                                {{ data.0.order_id.total_pay|add:data.0.order_id.postage }}円
                            </div>
                            <div class="table-items">
                                獲得ポイント
                            </div>
                            <div class="table-items">
                                {{ get_point }}point
                            </div>
                        </div>
                        <!-- data-price -->
                    </div>
                    <!-- data-price-group -->
                </div>
                <!-- data-body -->
            </div>

        </main>
    </div>
</body>

</html>