{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ st_title }} -ChirpCakes-</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <script src="https://kit.fontawesome.com/c5688669be.js" crossorigin="anonymous"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
</head>

<body>
    {% include 'main/component/banner.html' %}
    <div id="root">
        <main id="orderhistory">
            {% if status %}
            <div class="order-header">
                <div class="order-title">
                    注文履歴
                </div>
                <div class="order-filter">
                    <div class="filter-btn" id="filter">
                        <i class="fa-solid fa-sort"></i>
                    </div>
                </div>
            </div>
            <div class="is-hidden filter-menu" id="menu">
                <p>
                    <a href="{% url 'main:orderhistory' %}?filter=1">
                        <i class="fa-solid fa-arrow-up-1-9"></i>
                        昇順
                    </a>
                </p>
                <p>
                    <a href="{% url 'main:orderhistory' %}?filter=2">
                        <i class="fa-solid fa-arrow-down-9-1"></i>
                        降順
                    </a>
                </p>
            </div>
            {% for item in data %}
            <div class="order-block">
                <div class="order-title">
                    <a href="{% url 'main:orderdetail' item.order_id %}">
                        注文番号 : {{ item.order_id}}</a>
                </div>
                <div class="order-data">
                    <a href="{% url 'main:orderdetail' item.order_id %}" class="order-img">
                        {% for img in item.related_order.all %}
                        <img src="{{ MEDIA_URL }}{{ img.item_id.item_img }}" alt="" class="item-img">
                        {% endfor %}
                    </a>
                    <div class="field">
                        <div class="data">
                            <div class="head">
                                注文日
                            </div>
                            <div class="body">
                                {{ item.create }}
                            </div>
                            <div class="head">
                                合計金額
                            </div>
                            <div class="body">
                                {{ item.total_pay|add:item.postage }}円
                            </div>
                            <div class="head">
                                到着予定日
                            </div>
                            <div class="body">
                                {{ item.arrive }}
                            </div>
                        </div>
                    </div>
                    <div class="order-link">
                        <a href="{% url 'main:orderdetail' item.order_id %}">
                            詳細
                        </a>
                    </div>
                </div>
            </div>
            <!-- order-block -->
            <div class="under-line">
            </div>
            {% endfor %}
            {% else %}
            <h1 class="no-order">
                注文履歴はありません
            </h1>

            <p class="no-order-p">
                <a href="{% url 'main:mypage' %}">
                    マイページへ戻る
                </a>
            </p>
            {% endif %}
        </main>
    </div>
    <script>
        window.addEventListener("load", (event) => {
            let block = document.querySelectorAll('.order-block');
            for (i = 0; i < block.length; i++) {
                temp = block[i].getElementsByClassName('order-img');
                if (temp[0].children.length != 1) {
                    let loopCounter = 4 - temp[0].children.length;
                } else {
                    temp[0].classList.toggle('oneimg');
                }
            }
        });

        let btn = document.getElementById('filter');
        let menu = document.getElementById('menu');

        // btn.addEventListener('click', function(){
        //     menu.classList.remove('is-hidden');
        // }, false)

        document.addEventListener('click', function(e){
            if(e.target.closest('.filter-btn')) {
                if(!menu.classList.contains('is-hidden'))
                {
                    menu.classList.toggle('is-hidden');
                }
                else
                {
                    menu.classList.remove('is-hidden');
                }
            }
            else if(e.target.closest('.filter-menu') === null)
            {
                if(!menu.classList.contains('is-hidden'))
                {
                    menu.classList.toggle('is-hidden');
                }
            }
        })
    </script>
</body>

</html>