{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ st_title }} -ChirpCakes-</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <script>
        // フォームに値が残ってしまう対策
        window.addEventListener('pageshow', () => {
            if (window.performance.navigation.type == 2) location.reload();
            document.getElementById("form").reset();
            let rmv = document.getElementById("error").remove();
            list_element.querySelector(".errorlist").remove();
        });
    </script>
    {% include 'main/component/banner.html' %}
    <div id="root">
        <main id="product">
            <div class="prd-wrap">
                <div class="bread">
                    <ul>
                        <li>
                            <a href="{% url 'main:item' %}">
                                products
                            </a>
                        </li>
                        <li>
                            {{ item.item_name }}
                        </li>
                    </ul>
                </div>
                <div class="prd-img">
                    <img src="{{ MEDIA_URL }}{{ item.item_img }}" alt="" width="500px" height="500px">
                </div>
                <div class="prd-sub">
                    <div class="title">
                        <h2>
                            {{ item.item_name }}
                        </h1>
                    </div>
                    <div class="price">
                        {{ item.price }}
                    </div>
                    <div class="disc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores accusamus libero odio molestiae maxime porro cum quos accusantium error dignissimos animi reiciendis possimus, magnam molestias ab? Ut earum asperiores excepturi.
                        <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores accusamus libero odio molestiae maxime porro cum quos accusantium error dignissimos animi reiciendis possimus, magnam molestias ab? Ut earum asperiores excepturi. -->
                    </div>
                    <div class="bottom">
                        <div class="space">

                        </div>
                        <form action="{% url 'main:product' item.slug %}" method="post">
                            {% csrf_token %}
                            {% if form.errors %}
                            {{ form.quantity.errors }}
                            {% endif %}
                            <label for="quantity">
                                <input type="number" name="quantity" id="quantity" min="0" max="100" value="1" hidden>
                            </label>
                            <input type="hidden" name="item_id" value="{{ item.item_id }}" id="item_id">
                            <input type="submit" value="カートに入れる">
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html> 