{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ st_title }} -ChirpCakes-</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <script src="https://kit.fontawesome.com/c5688669be.js" crossorigin="anonymous"></script>
</head>

<body>
    <script>
        // フォームに値が残ってしまう対策
        window.addEventListener('pageshow', () => {
            if (window.performance.navigation.type == 2) location.reload();
            document.getElementById("form").reset();
            let rmv = document.getElementById("error").remove();
            list_element.querySelector(".errorlist").remove();
        });
    </script>
    {% include 'main/component/banner.html' %}
    <div id="root">
        <main id="product">
            <div class="prd-wrap">
                <div class="bread">
                    <ul>
                        <li>
                            <a href="{% url 'main:item' %}">
                                products
                            </a>
                        </li>
                        <li>
                            {{ item.item_name }}
                        </li>
                    </ul>
                </div>
                <div class="prd-img">
                    <img src="{{ MEDIA_URL }}{{ item.item_img }}" alt="" width="500px" height="500px">
                </div>
                <div class="prd-sub">
                    <div class="title">
                        <h2>
                            {{ item.item_name }}
                            </h1>
                    </div>
                    <div class="price">
                        {{ item.price }}
                    </div>
                    <div class="disc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores accusamus libero odio
                        molestiae maxime porro cum quos accusantium error dignissimos animi reiciendis possimus, magnam
                        molestias ab? Ut earum asperiores excepturi.
                        <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores accusamus libero odio molestiae maxime porro cum quos accusantium error dignissimos animi reiciendis possimus, magnam molestias ab? Ut earum asperiores excepturi. -->
                    </div>
                    <div class="bottom">
                        <div class="space">

                        </div>
                        <button id="onCart">
                            カートに入れる
                        </button>
                    </div>
                </div>
                <div class="is-front is-hidden" id="is-front">
                    <div class="field">
                        <div class="form-body">
                            <form action="{% url 'main:product' item.slug %}" method="post">
                                <div class="form-field">
                                    <div class="form-text">
                                        {% csrf_token %}
                                        {% if form.errors %}
                                        {{ form.quantity.errors }}
                                        {% endif %}
                                        <div class="form-label">
                                            <label for="quantity">
                                                数量
                                            </label>
                                        </div>
                                        <div class="order-count">
                                            <input type="number" name="quantity" id="quantity" min="0" max="100"
                                                value="1">
                                            <div id="increase">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                            <div id="decrease">
                                                <i class="fa-solid fa-minus"></i>
                                            </div>
                                        </div>
                                        <input type="hidden" name="item_id" value="{{ item.item_id }}" id="item_id">
                                        <input type="submit" value="カートに入れる">
                                    </div>
                                </div>
                            </form>
                            <button id="cancel">
                                キャンセル
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script>
        let button = document.getElementById('onCart');
        let orderArea = document.getElementById('is-front');
        let cancel = document.getElementById('cancel');
        let increase = document.getElementById('increase');
        let decrease = document.getElementById('decrease');
        let amount = document.getElementById('quantity');

        button.addEventListener('click', function () {
            orderArea.classList.remove('is-hidden');
        });

        cancel.addEventListener('click', function () {
            orderArea.classList.toggle('is-hidden');
        });

        increase.addEventListener('click', function(){
            amount.value = Number(amount.value) + 1;
        });

        decrease.addEventListener('click', function(){
            if(Number(amount.value) > 1)
            {
                amount.value = Number(amount.value) - 1;
            }
        })
    </script>
</body>

</html>