<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ st_title }} -ChirpCakes-</title>
    <link rel="stylesheet" href="../../static/main/css/main.css">
    <script src="https://kit.fontawesome.com/c5688669be.js" crossorigin="anonymous"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

</head>

<body>
    <div id="root">
        <main id="items">
            <div class="title">
                <h2>
                    Products
                </h2>
            </div>
            <div class="sub-disc">
                <p>
                    思わずくちばしをつまみたくなるような、
                    <br>
                    そんなスイーツをご用意しております。
                </p>
            </div>
            <div class="grid-item">
                <!-- card カードのテンプレート -->
                <div class="block">
                    <div class="grid-auto" id="grid_card">
                        <div class="card">
                            <div class="card-item">
                                <div class="card-main">
                                    <div class="card-contents">
                                        <img src="../../static/main/image/buncho.png" alt="">
                                        <a href="#" class="card-img-cover">
                                            文鳥のくちばしのような
                                            <br>
                                            大粒のイチゴを贅沢に使いました
                                        </a>
                                        <div class="card-text">
                                        </div>
                                    </div>
                                    <!-- card-contents -->
                                </div>
                                <!-- card-main -->
                                <div class="card-sub">
                                    <div class="card-header">
                                        <div class="card-header-title">
                                            <a href="#" class="card-title-link">
                                                BUNCHO
                                            </a>
                                        </div>
                                        <div class="card-header-price">
                                            1100
                                        </div>
                                    </div>
                                    <!-- card-title -->
                                    <div class="card-link">
                                        <a href="#" class="card-link-button">
                                            <p class='card-link-text'>
                                                VIEW MORE
                                                <i class="fa-solid fa-angles-right icon"></i>
                                            </p>
                                        </a>
                                    </div>
                                    <!-- card-text -->
                                </div>
                                <!-- card-sub -->
                            </div>
                            <!-- card-item -->
                        </div>
                        <!-- card -->

                        <div class="card">
                            <div class="card-item">
                                <div class="card-main">
                                    <div class="card-contents">
                                        <img src="../../static/main/image/buncho.png" alt="">
                                        <a href="#" class="card-img-cover">
                                            文鳥のくちばしのような
                                            <br>
                                            大粒のイチゴを贅沢に使いました
                                        </a>
                                        <div class="card-text">
                                        </div>
                                    </div>
                                    <!-- card-contents -->
                                </div>
                                <!-- card-main -->
                                <div class="card-sub">
                                    <div class="card-header">
                                        <div class="card-header-title">
                                            <a href="#" class="card-title-link">
                                                BUNCHO
                                            </a>
                                        </div>
                                        <div class="card-header-price">
                                            1100
                                        </div>
                                    </div>
                                    <!-- card-title -->
                                    <div class="card-link">
                                        <a href="#" class="card-link-button">
                                            <p class='card-link-text'>
                                                VIEW MORE
                                                <i class="fa-solid fa-angles-right icon"></i>
                                            </p>
                                        </a>
                                    </div>
                                    <!-- card-text -->
                                </div>
                                <!-- card-sub -->
                            </div>
                            <!-- card-item -->
                        </div>
                        <!-- card -->
                        <div class="card">
                            <div class="card-item">
                                <div class="card-main">
                                    <div class="card-contents">
                                        <img src="../../static/main/image/buncho.png" alt="">
                                        <a href="#" class="card-img-cover">
                                            文鳥のくちばしのような
                                            <br>
                                            大粒のイチゴを贅沢に使いました
                                        </a>
                                        <div class="card-text">
                                        </div>
                                    </div>
                                    <!-- card-contents -->
                                </div>
                                <!-- card-main -->
                                <div class="card-sub">
                                    <div class="card-header">
                                        <div class="card-header-title">
                                            <a href="#" class="card-title-link">
                                                BUNCHO
                                            </a>
                                        </div>
                                        <div class="card-header-price">
                                            1100
                                        </div>
                                    </div>
                                    <!-- card-title -->
                                    <div class="card-link">
                                        <a href="#" class="card-link-button">
                                            <p class='card-link-text'>
                                                VIEW MORE
                                                <i class="fa-solid fa-angles-right icon"></i>
                                            </p>
                                        </a>
                                    </div>
                                    <!-- card-text -->
                                </div>
                                <!-- card-sub -->
                            </div>
                            <!-- card-item -->
                        </div>
                        <!-- card -->
                        <div class="card">
                            <div class="card-item">
                                <div class="card-main">
                                    <div class="card-contents">
                                        <img src="../../static/main/image/buncho.png" alt="">
                                        <a href="#" class="card-img-cover">
                                            文鳥のくちばしのような
                                            <br>
                                            大粒のイチゴを贅沢に使いました
                                        </a>
                                        <div class="card-text">
                                        </div>
                                    </div>
                                    <!-- card-contents -->
                                </div>
                                <!-- card-main -->
                                <div class="card-sub">
                                    <div class="card-header">
                                        <div class="card-header-title">
                                            <a href="#" class="card-title-link">
                                                BUNCHO
                                            </a>
                                        </div>
                                        <div class="card-header-price">
                                            1100
                                        </div>
                                    </div>
                                    <!-- card-title -->
                                    <div class="card-link">
                                        <a href="#" class="card-link-button">
                                            <p class='card-link-text'>
                                                VIEW MORE
                                                <i class="fa-solid fa-angles-right icon"></i>
                                            </p>
                                        </a>
                                    </div>
                                    <!-- card-text -->
                                </div>
                                <!-- card-sub -->
                            </div>
                            <!-- card-item -->
                        </div>
                        <!-- card -->
                        <div class="card">
                            <div class="card-item">
                                <div class="card-main">
                                    <div class="card-contents">
                                        <img src="../../static/main/image/buncho.png" alt="">
                                        <a href="#" class="card-img-cover">
                                            文鳥のくちばしのような
                                            <br>
                                            大粒のイチゴを贅沢に使いました
                                        </a>
                                        <div class="card-text">
                                        </div>
                                    </div>
                                    <!-- card-contents -->
                                </div>
                                <!-- card-main -->
                                <div class="card-sub">
                                    <div class="card-header">
                                        <div class="card-header-title">
                                            <a href="#" class="card-title-link">
                                                BUNCHO
                                            </a>
                                        </div>
                                        <div class="card-header-price">
                                            1100
                                        </div>
                                    </div>
                                    <!-- card-title -->
                                    <div class="card-link">
                                        <a href="#" class="card-link-button">
                                            <p class='card-link-text'>
                                                VIEW MORE
                                                <i class="fa-solid fa-angles-right icon"></i>
                                            </p>
                                        </a>
                                    </div>
                                    <!-- card-text -->
                                </div>
                                <!-- card-sub -->
                            </div>
                            <!-- card-item -->
                        </div>
                        <!-- card -->

                        <div class="card">
                            <div class="card-item">
                                <div class="card-main">
                                    <div class="card-contents">
                                        <img src="../../static/main/image/buncho.png" alt="">
                                        <a href="#" class="card-img-cover">
                                            文鳥のくちばしのような
                                            <br>
                                            大粒のイチゴを贅沢に使いました
                                        </a>
                                        <div class="card-text">
                                        </div>
                                    </div>
                                    <!-- card-contents -->
                                </div>
                                <!-- card-main -->
                                <div class="card-sub">
                                    <div class="card-header">
                                        <div class="card-header-title">
                                            <a href="#" class="card-title-link">
                                                BUNCHO
                                            </a>
                                        </div>
                                        <div class="card-header-price">
                                            1100
                                        </div>
                                    </div>
                                    <!-- card-title -->
                                    <div class="card-link">
                                        <a href="#" class="card-link-button">
                                            <p class='card-link-text'>
                                                VIEW MORE
                                                <i class="fa-solid fa-angles-right icon"></i>
                                            </p>
                                        </a>
                                    </div>
                                    <!-- card-text -->
                                </div>
                                <!-- card-sub -->
                            </div>
                            <!-- card-item -->
                        </div>
                        <!-- card -->
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script>
        let cardArea = document.getElementsByClassName('card');
        let count = cardArea.length;
        // alert(cardArea.childElementCount);
        for(i=0;i<count;i++)
        {
            cardArea[i].classList.toggle(`slide${i}`);
        }
    </script>
</body>

</html>