<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/main/css/templater.css">
    <script src="https://kit.fontawesome.com/c5688669be.js" crossorigin="anonymous"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div id="root">
        <div class="grid-item">
            <!-- card カードのテンプレート -->
            <div class="block">
                <div class="title">
                    <h2>
                        カードのテンプレート
                    </h2>
                </div>
                <div class="sub-title">
                    <h3>
                        .grid-autoと併用しています
                    </h3>
                </div>
                <div class="grid-auto">
                    <div class="card">
                        <div class="card-item">
                            <div class="card-main">
                                <div class="card-contents">
                                    <img src="../../static/main/image/buncho.png" alt="">
                                    <a href="#" class="card-img-cover">
                                        文鳥のくちばしのような
                                        <br>
                                        大粒のイチゴを贅沢に使いました
                                    </a>
                                    <div class="card-text">
                                    </div>
                                </div>
                                <!-- card-contents -->
                            </div>
                            <!-- card-main -->
                            <div class="card-sub">
                                <div class="card-header">
                                    <div class="card-header-title">
                                        <a href="#" class="card-title-link">
                                            BUNCHO
                                        </a>
                                    </div>
                                    <div class="card-header-price">
                                        1100
                                    </div>
                                </div>
                                <!-- card-title -->
                                <div class="card-link">
                                    <a href="#" class="card-link-button">
                                        <p class='card-link-text'>
                                            VIEW MORE
                                            <i class="fa-solid fa-angles-right icon"></i>
                                        </p>
                                    </a>
                                </div>
                                <!-- card-text -->
                            </div>
                            <!-- card-sub -->
                        </div>
                        <!-- card-item -->
                    </div>
                    <!-- card -->

                    <div class="card">
                        <div class="card-item">
                            <div class="card-main">
                                <div class="card-contents">
                                    <img src="../../static/main/image/buncho.png" alt="">
                                    <a href="#" class="card-img-cover">
                                        文鳥のくちばしのような
                                        <br>
                                        大粒のイチゴを贅沢に使いました
                                    </a>
                                    <div class="card-text">
                                    </div>
                                </div>
                                <!-- card-contents -->
                            </div>
                            <!-- card-main -->
                            <div class="card-sub">
                                <div class="card-header">
                                    <div class="card-header-title">
                                        <a href="#" class="card-title-link">
                                            BUNCHO
                                        </a>
                                    </div>
                                    <div class="card-header-price">
                                        1100
                                    </div>
                                </div>
                                <!-- card-title -->
                                <div class="card-link">
                                    <a href="#" class="card-link-button">
                                        <p class='card-link-text'>
                                            VIEW MORE
                                            <i class="fa-solid fa-angles-right icon"></i>
                                        </p>
                                    </a>
                                </div>
                                <!-- card-text -->
                            </div>
                            <!-- card-sub -->
                        </div>
                        <!-- card-item -->
                    </div>
                    <!-- card -->


                    <div class="card">
                        <div class="card-item">
                            <div class="card-main">
                                <div class="card-contents">
                                    <img src="../../static/main/image/buncho.png" alt="">
                                    <a href="#" class="card-img-cover">
                                        文鳥のくちばしのような
                                        <br>
                                        大粒のイチゴを贅沢に使いました
                                    </a>
                                    <div class="card-text">
                                    </div>
                                </div>
                                <!-- card-contents -->
                            </div>
                            <!-- card-main -->
                            <div class="card-sub">
                                <div class="card-header">
                                    <div class="card-header-title">
                                        <a href="#" class="card-title-link">
                                            BUNCHO
                                        </a>
                                    </div>
                                    <div class="card-header-price">
                                        1100
                                    </div>
                                </div>
                                <!-- card-title -->
                                <div class="card-link">
                                    <a href="#" class="card-link-button">
                                        <p class='card-link-text'>
                                            VIEW MORE
                                            <i class="fa-solid fa-angles-right icon"></i>
                                        </p>
                                    </a>
                                </div>
                                <!-- card-text -->
                            </div>
                            <!-- card-sub -->
                        </div>
                        <!-- card-item -->
                    </div>
                    <!-- card -->
                </div>
            </div>
            <!-- grid-layout -->
            <div class="block">
                <div class="title">
                    <h2>
                        グリッドレイアウトのテンプレート
                    </h2>
                </div>
                <div class="sub-title">
                    <h3>
                        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                    </h3>
                </div>
                <!-- gridここから -->
                <div class="grid-auto-test1">
                    <div class="grid-child">
                    </div>
                    <div class="grid-child">
                    </div>
                    <div class="grid-child">
                    </div>
                </div>
                <div class="sub-title">
                    <h3>
                        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
                    </h3>
                </div>
                <!-- gridここから -->
                <div class="grid-auto-test2">
                    <div class="grid-child">
                    </div>
                    <div class="grid-child">
                    </div>
                    <div class="grid-child">
                    </div>
                    <div class="grid-child">
                    </div>
                </div>
            </div>
            <!-- form -->
            <div class="block">
                <div class="title">
                    <h2>
                        formのテンプレート
                    </h2>
                </div>
                <div class="sub-title">
                    <h3>
                        form-body
                    </h3>
                </div>
                <div class="sample-body">
                    <div class="form-body">
                        <form action="#" method="post">
                            <div class="form-title">
                                <h2>
                                    フォームタイトル
                                </h2>
                            </div>

                            <div class="form-field">
                                <div class="form-text is-row">
                                    <div class="form-label">
                                        <label for="">
                                            縦テキストラベル
                                        </label>
                                    </div>
                                    <div class="form-label-ano">
                                        注釈
                                    </div>
                                    <input type="text" placeholder="縦テキストボックス">
                                </div>
                            </div>


                            <div class="form-field">
                                <div class="form-text is-row is-error">
                                    <div class="form-label">
                                        <label for="">
                                            エラーテキストラベル
                                        </label>
                                    </div>
                                    <div class="form-label-ano">
                                        注釈
                                    </div>
                                    <input type="text" placeholder="エラーテキストボックス">
                                </div>
                            </div>

                            <div class="form-field">
                                <label>
                                    <h5>
                                        デザイン性のあるラジオボタン
                                    </h5>
                                </label>
                                <div class="form-radio-button">
                                    <input type="radio" name="col-radio" id="col-radio1">

                                    <div class="form-label is-first-label">
                                        <label for="col-radio1">
                                            横ラジオ1
                                        </label>
                                    </div>

                                    <input type="radio" name="col-radio" id="col-radio2">

                                    <div class="form-label">
                                        <label for="col-radio2">
                                            横ラジオ2
                                        </label>
                                    </div>

                                    <input type="radio" name="col-radio" id="col-radio3">

                                    <div class="form-label">
                                        <label for="col-radio3">
                                            横ラジオ3
                                        </label>
                                    </div>

                                    <input type="radio" name="col-radio" id="col-radio4">

                                    <div class="form-label is-last-label">
                                        <label for="col-radio4">
                                            横ラジオ4
                                        </label>
                                    </div>

                                </div>
                            </div>

                            <div class="form-field">
                                <div class="form-group">
                                    <div class="form-sub-title">
                                        <h5>
                                            デザイン性のあるラジオボタン よこ
                                        </h5>
                                    </div>

                                    <div class="form-radio-rows">
                                        <input type="radio" name="row-radio-1" id="row-radio1">
                                        <div class="form-label">
                                            <label for="row-radio1">
                                                ラジオ枠あり1
                                            </label>
                                        </div>
                                        <div class="cover">
                                        </div>
                                    </div>
                                    <div class="form-radio-rows">
                                        <input type="radio" name="row-radio-1" id="row-radio2">
                                        <div class="form-label">
                                            <label for="row-radio2">
                                                ラジオ枠あり2
                                            </label>
                                        </div>
                                        <div class="cover">
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-field">
                                <div class="form-group">
                                    <div class="form-sub-title">
                                        <h5>
                                            デザイン性のあるラジオボタン よこ
                                        </h5>
                                    </div>

                                    <div class="form-is-col">
                                        <div class="form-radio-rows">
                                            <input type="radio" name="row-radio-3" id="row-radio3">
                                            <div class="form-label">
                                                <label for="row-radio3">
                                                    ラジオ枠あり3
                                                </label>
                                            </div>
                                            <div class="cover">
                                            </div>
                                        </div>
                                        <div class="form-radio-rows">
                                            <input type="radio" name="row-radio-3" id="row-radio4">
                                            <div class="form-label">
                                                <label for="row-radio4">
                                                    ラジオ枠あり4
                                                </label>
                                            </div>
                                            <div class="cover">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-field">
                                <div class="form-group">
                                    <div class="form-sub-title">
                                        チェックボックス
                                    </div>
                                    <div class="form-is-col">
                                        <div class="form-check">
                                            <input type="checkbox" name="col-checkbox" id="col-checkbox1">
                                            <div class="form-label">
                                                <label for="col-checkbox1">
                                                    横チェックボックス1
                                                </label>
                                            </div>
                                            <div class="cover"></div>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" name="col-checkbox" id="col-checkbox2">
                                            <div class="form-label">
                                                <label for="col-checkbox2">
                                                    横チェックボックス2
                                                </label>
                                            </div>
                                            <div class="cover"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-field">
                                <div class="form-check">
                                    <input type="checkbox" name="row-checkbox" id="row-checkbox1">
                                    <div class="form-label">
                                        <label for="row-checkbox1">
                                            縦チェックボックス1
                                        </label>

                                    </div>
                                    <div class="cover"></div>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" name="row-checkbox" id="row-checkbox2">
                                    <div class="form-label">
                                        <label for="row-checkbox2">
                                            縦チェックボックス<br>(div.coverなし)
                                        </label>
                                    </div>
                                    <!-- <div class="cover"></div> -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- form-elements -->
            <div class="block">
                <div class="title">
                    <h2>
                        emmet入力例
                    </h2>
                </div>
                <div class="sub-title">
                    <h3>
                        form-text
                    </h3>
                </div>
                <div class="sub-title">
                    <h4>
                        div.form-body>div.form-field>div.form-text(div.form-label>label)+(div.form-label-ano)+(input:text)
                    </h4>
                </div>
                <div class="sample-body">
                    <div class="form-body">
                        <div class="form-field">
                            <div class="form-text is-row">
                                <div class="form-label">
                                    <label for="">
                                        縦テキストラベル
                                    </label>
                                </div>
                                <div class="form-label-ano">
                                    注釈
                                </div>
                                <input type="text" placeholder="縦テキストボックス">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="sub-title">
                    <h3>
                        エラー付きフォーム
                    </h3>
                </div>
                <div class="sub-title">
                    <h4>
                        div.form-body>div.form-field>div.form-text.is-error>(div.form-label>label)+(div.form-label-ano)+(input:text)
                    </h4>
                </div>
                <div class="sample-body">
                    <div class="form-body">
                        <div class="form-field">
                            <div class="form-text is-error">
                                <div class="form-label">
                                    <label for="">
                                        エラーテキストラベル
                                    </label>
                                </div>
                                <div class="form-label-ano">
                                    注釈
                                </div>
                                <input type="text" placeholder="エラーテキストボックス">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end sample -->
                <div class="sub-title">
                    <h3>
                        デザイン性のあるラジオボタン
                    </h3>
                </div>
                <div class="sub-title">
                    <h4>
                        div.form-radio-button>
                        <br>
                        さいしょ
                        <br>
                        ((input:radio)+(div.form-label.is-first-label>label))
                        <br>
                        真ん中
                        <br>
                        +((input:radio)+(div.form-label>label))*すきな数
                        <br>
                        最後
                        <br>
                        +((input:radio)+(div.form-label>label))
                    </h4>
                </div>
                <div class="sample-body">
                    <div class="form-body">
                        <div class="form-field">
                            <label>
                                <h5>
                                    デザイン性のあるラジオボタン
                                </h5>
                            </label>
                            <div class="form-radio-button">
                                <input type="radio" name="col-radio" id="col-radio1">

                                <div class="form-label is-first-label">
                                    <label for="col-radio1">
                                        横ラジオ1
                                    </label>
                                </div>

                                <input type="radio" name="col-radio" id="col-radio2">

                                <div class="form-label">
                                    <label for="col-radio2">
                                        横ラジオ2
                                    </label>
                                </div>

                                <input type="radio" name="col-radio" id="col-radio3">

                                <div class="form-label">
                                    <label for="col-radio3">
                                        横ラジオ3
                                    </label>
                                </div>

                                <input type="radio" name="col-radio" id="col-radio4">

                                <div class="form-label is-last-label">
                                    <label for="col-radio4">
                                        横ラジオ4
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end sample -->
                <div class="sub-title">
                    <h3>
                        枠付きラジオボタン（グループ）
                    </h3>
                </div>
                <div class="sub-title">
                    <h4>
                        div.form-group>form-sub-title
                        <br>
                        (div.form-radio-rows>((input:radio)+(div.form-label>label)+(div.cover)))*好きな数
                    </h4>
                </div>
                <div class="sample-body">
                    <div class="form-body">
                        <div class="form-field">
                            <div class="form-group">
                                <div class="form-sub-title">
                                    <h5>
                                        グループタイトル
                                    </h5>
                                </div>

                                <div class="form-radio-rows">
                                    <input type="radio" name="row-radio-1" id="row-radio1">
                                    <div class="form-label">
                                        <label for="row-radio1">
                                            ラジオ枠あり1
                                        </label>
                                    </div>
                                    <div class="cover">
                                    </div>
                                </div>
                                <div class="form-radio-rows">
                                    <input type="radio" name="row-radio-1" id="row-radio2">
                                    <div class="form-label">
                                        <label for="row-radio2">
                                            ラジオ枠あり2
                                        </label>
                                    </div>
                                    <div class="cover">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end sample -->
                <div class="sub-title">
                    <h3>
                        枠付きラジオボタン（よこ）
                    </h3>
                </div>
                <div class="sub-title">
                    <h4>
                        div.form-group>form-sub-title
                        <br>
                        div.form-is-col>(div.form-radio-rows>((input:radio)+(div.form-label>label)+(div.cover)))*好きな数
                    </h4>
                </div>
                <div class="sample-body">
                    <div class="form-body">
                        <div class="form-field">
                            <div class="form-group">
                                <div class="form-sub-title">
                                    <h5>
                                        デザイン性のあるラジオボタン よこ
                                    </h5>
                                </div>

                                <div class="form-is-col">
                                    <div class="form-radio-rows">
                                        <input type="radio" name="row-radio-3" id="row-radio3">
                                        <div class="form-label">
                                            <label for="row-radio3">
                                                ラジオ枠あり3
                                            </label>
                                        </div>
                                        <div class="cover">
                                        </div>
                                    </div>
                                    <div class="form-radio-rows">
                                        <input type="radio" name="row-radio-3" id="row-radio4">
                                        <div class="form-label">
                                            <label for="row-radio4">
                                                ラジオ枠あり4
                                            </label>
                                        </div>
                                        <div class="cover">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end sample -->
                <div class="sub-title">
                    <h3>
                        チェックボックス（よこ）
                    </h3>
                </div>
                <div class="sub-title">
                    <h4>
                        div.form-group>form-sub-title
                        <br>
                        div.form-is-col>(div.form-check>((input:checkbox)+(div.form-label>label)+(div.cover)))*好きな数
                    </h4>
                </div>
                <div class="sample-body">
                    <div class="form-body">

                        <div class="form-field">
                            <div class="form-group">
                                <div class="form-sub-title">
                                    チェックボックス
                                </div>
                                <div class="form-is-col">
                                    <div class="form-check">
                                        <input type="checkbox" name="col-checkbox" id="col-checkbox1">
                                        <div class="form-label">
                                            <label for="col-checkbox1">
                                                横チェックボックス1
                                            </label>
                                        </div>
                                        <div class="cover"></div>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" name="col-checkbox" id="col-checkbox2">
                                        <div class="form-label">
                                            <label for="col-checkbox2">
                                                横チェックボックス2
                                            </label>
                                        </div>
                                        <div class="cover"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end sample -->
                <div class="sub-title">
                    <h3>
                        チェックボックス（たて）
                    </h3>
                </div>
                <div class="sub-title">
                    <h4>
                        div.form-group>form-sub-title
                        <br>
                        (div.form-check>((input:checkbox)+(div.form-label>label)+(div.cover)))*好きな数
                    </h4>
                </div>
                <div class="sample-body">
                    <div class="form-body">

                        <div class="form-field">
                            <div class="form-group">
                                <div class="form-sub-title">
                                    チェックボックス
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" name="col-checkbox" id="col-checkbox1">
                                    <div class="form-label">
                                        <label for="col-checkbox1">
                                            縦チェックボックス1
                                        </label>
                                    </div>
                                    <div class="cover"></div>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" name="col-checkbox" id="col-checkbox2">
                                    <div class="form-label">
                                        <label for="col-checkbox2">
                                            縦チェックボックス2
                                        </label>
                                    </div>
                                    <div class="cover"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end sample -->
            </div>
            <!-- end block -->

            <div class="block">
                <div class="title">
                    <h2>
                        emmet入力例
                    </h2>
                </div>
                <div class="sub-title">
                    <h3>
                        カード
                    </h3>
                </div>
                <div class="sub-title">
                    <h4>
                        div.grid-auto>div.card>div.card-item
                        <br>
                        div.card-main>div.card-contents>(img+a.card-img-cover+div.card-text)
                        <br>
                        div.card-sub>div.card-header>(div.card-header-title>a.card-title-link)+(div.card-header-price)+(div.card-link>a.card-link-button>p.card-link-text>i)
                    </h4>
                </div>
                <div class="sample-body">
                    <div class="grid-auto">
                        <div class="card">
                            <div class="card-item">
                                <div class="card-main">
                                    <div class="card-contents">
                                        <img src="../../static/main/image/buncho.png" alt="">
                                        <a href="#" class="card-img-cover">
                                            文鳥のくちばしのような
                                            <br>
                                            大粒のイチゴを贅沢に使いました
                                        </a>
                                        <div class="card-text">
                                        </div>
                                    </div>
                                    <!-- card-contents -->
                                </div>
                                <!-- card-main -->
                                <div class="card-sub">
                                    <div class="card-header">
                                        <div class="card-header-title">
                                            <a href="#" class="card-title-link">
                                                BUNCHO
                                            </a>
                                        </div>
                                        <div class="card-header-price">
                                            1100
                                        </div>
                                    </div>
                                    <!-- card-title -->
                                    <div class="card-link">
                                        <a href="#" class="card-link-button">
                                            <p class='card-link-text'>
                                                VIEW MORE
                                                <i class="fa-solid fa-angles-right icon"></i>
                                            </p>
                                        </a>
                                    </div>
                                    <!-- card-text -->
                                </div>
                                <!-- card-sub -->
                            </div>
                            <!-- card-item -->
                        </div>
                        <!-- card -->
                    </div>
                    <!-- grid-auto -->
                </div>
                <!-- end sample -->
            </div>
            <!-- end block -->
            <div class="block">
                <div class="title">
                    <h2>
                        データ表示
                    </h2>
                </div>
                <!-- title -->
                <div class="sample-body">
                    <div class="data-field">
                        <div class="data-title">
                            <h2>
                                注文履歴
                            </h2>
                        </div>
                        <!-- data-title -->
                        <div class="data-body">
                            <div class="data-order-group">
                                <table class="data-order">
                                    <tr>
                                        <th>
                                            注文番号
                                        </th>
                                        <td>
                                            20020202
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            注文日時
                                        </th>
                                        <td>
                                            2021年3月9日
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            決済方法
                                        </th>
                                        <td>
                                            ツケ
                                        </td>
                                    </tr>
                                </table>
                                <!-- data-order -->
                            </div>
                            <!--  data-order-group -->
                            <div class="data-item-group">
                                <div class="data-item-img">

                                </div>
                                <!-- data-item-img -->
                                <div class="data-item-detail">
                                    <div class="data-item-name">

                                    </div>
                                    <!-- data-item-name -->
                                    <div class="data-item-quantity">

                                    </div>
                                    <!-- data-item-quantity -->
                                    <div class="data-item-price">

                                    </div>
                                    <!-- data-item-price -->
                                </div>
                            </div>
                            <!-- data-item-group -->
                            <div class="data-price-group">
                                <table class="data-price">
                                    <tr>
                                        <td>
                                            アイテムの小計
                                        </td>
                                        <th>
                                            3000円
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            送料
                                        </td>
                                        <th>
                                            100円
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            決済手数料
                                        </td>
                                        <th>
                                            100円
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            値引き
                                        </td>
                                        <th>
                                            -1000円
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            合計
                                        </td>
                                        <th>
                                            5000000万円
                                        </th>
                                    </tr>
                                </table>
                                <!-- data-price -->
                            </div>
                            <!-- data-price-group -->
                            <div class="data-ads-group">
                                <details class="data-ads-details">
                                    <summary class="data-ads-main">
                                        <div class="data-abs-title">
                                            お届け先
                                        </div>
                                        <table class="data-ads">
                                            <tr>
                                                <th>
                                                    住所
                                                </th>
                                                <td>
                                                    〒2100005 神奈川県川崎市川崎区東田町 3-8 東田ソシアルビル302
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    お届け先氏名
                                                </th>
                                                <td>
                                                    サカナクション
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    電話番号
                                                </th>
                                                <td>
                                                    080-2402-0493
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    メールアドレス
                                                </th>
                                                <td>
                                                    yuchika@gmail.xom
                                                </td>
                                            </tr>
                                        </table>
                                    </summary>
                                </details>
                            </div>
                            <!-- data-ads-group -->
                        </div>
                        <!-- data-body -->
                    </div>
                    <!-- data-field -->
                </div>
                <!-- sample-body -->
            </div>
            <!-- end block -->
        </div>
    </div>
</body>

</html>