<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/main/css/templater.css">
    <title>Document</title>
</head>
<body>
    <div id="root">
        <div class="grid-item">
            <!-- grid-card -->
            <div class="block">
            </div>
            <!-- grid-layout -->
            <div class="block">
            </div>
            <!-- form -->
            <div class="block">
            </div>
            <!-- form-elements -->
            <div class="block">
            </div>
        </div>
    </div>
</body>
</html>