@charset 'utf-8';
@import "partial/common";

// index page
#top
{
    overflow: hidden;
    padding-top:80px;
    height: 100%;
    width: 100%;
    .top-hero
    {   
        position: relative;
        margin: 0 auto;
        width: 85%;
        height: 95%;
        background-color:$main;

        .phrase-hero-top
        {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 1.5rem;
            top:0.5rem;
            h2
            {
                font-size: 700%;
                font-family: 'Outfit', sans-serif;
                font-weight: bolder;
            }
        }
        .hero-img
        {
            // この後three.jsに移行
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-10deg);
        }        
        .phrase-hero-bottom
        {
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            h2
            {
                text-align: end;
                font-size: 550%;
                font-family: 'Shippori Mincho', serif;
                font-weight: bolder;
            }
        }
    }
}
