@import "partial/common";
@import "partial/gridSystem";

html,
body
{
    height:100%;
}

#root
{
    @extend #root;
    background-color:$back;
    height:auto;
}

.grid-item
{
    display: grid;
    gap:2rem;
}

.sub-title
{
    width: 70%;
    margin: 1rem auto;
}

.sample-body
{
    width: 70%;
    height:auto;
    margin: 0 auto;
    // background-color: red;
}

.block
{
    background-color: #fff5f5;
    width: 90%;
    height: auto;
    margin:2rem auto;
    padding: 1rem;
}

.grid-auto
{
    @extend .grid-auto;
    width:70%;
    gap:1rem;
    margin:0 auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    place-items: center;
    // background-color: rebeccapurple;
}

// gridカードはこっから

.card
{
    border-radius: 30px;
    width:300px;
    height: auto;
    background-color:$back;
    // box-shadow: 8px 8px 20px rgb(187, 170, 170);
}


.card-item 
{
    position: relative;
    // width: 100%;
    display: grid;
    // background-color: #ffe5e5;
    margin: 0 auto;
    padding: 1.2rem;
    grid-template-rows: repeat(auto-fit, minmax(1fr, 100px));
}

.card-contents
{
    position:relative;
    img
    {
        border-radius: 30px 30px 0 80px;
    }
    .card-img-cover
    {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items:flex-end;
        text-align: end;
        bottom:0;
        padding-bottom: 1rem;
        font-size: 100%;
        font-weight:500;
        overflow: hidden;
        transition: 0.3s ease-in;
        color: #ffffff00;
        background: rgba(255, 255, 255, 0);
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #faeee7 100%);
        background-position-y:300px;
        background-repeat: no-repeat;
        border-radius: 30px 30px 0 80px;
    }
    &:hover
    {
        .card-img-cover
        {
            color: $font;
            background-position-y:0px;
            // height: 80px;
            transition: 0.3s ease-in;
            background-color: #ffffff4b;
        }
    }
}

.card-sub
{
    width: 100%;
    margin-top:0.8rem;
}

.card-header
{
    width: 100%;
    // background-color: #7d4c4c;
    margin-bottom:0.5rem;
}

.card-header-title
{ 
    .card-title-link{
        font-size: 200%;
        font-family: $font-eng, $font-jp;
        font-weight: bolder;
        transition: 0.2s ease-in;
        &:hover
        {
            transition: 0.2s ease-in;
            color:$accent;
        }
    }
}

.card-header-price
{
    font-size: 140%;
    width: 100%;
    padding: 0;
    align-self: center;
    // background-color: brown;
    &::before
    {
        content: "￥";
        font-size:90%;
    }
    &::after
    {
        content: '(税込)';
        font-size: 50%;
    }
}

.card-link
{
    width: 100%;
    display: flex;
    justify-content: flex-end
}

.card-link-button
{
    display: block;
    position: relative;
    border: $paragraph 1px solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 110%;
    width:60%;
    height: 40px;
    .icon
    {
        margin-top: 0.25rem;
        padding-left:0.5rem;
        color: $paragraph;
    }
    .card-link-text
    {
        width: auto;
        z-index: 1000;
    }
    &::after
    {
        position: absolute;
        content: '';
        width: 0%;
        height: 100%;
        left: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0);
        background: linear-gradient(90deg, $link 0%, rgba(255,255,255,0) 100%);
        transition: 0.35s ease-in-out;
    }
    &:hover
    {
        &::after
        {
            width: 100%;
            transition: 0.35s ease-in;
        }
        .icon
        {
            transform:scale(1.2, 1.2);
            transition: 0.35s ease-in;
        }
    }
}




.grid-auto-test1
{
    @extend .grid-auto;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.grid-auto-test2
{
    @extend .grid-auto;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.grid-child
{
    height: 300px;
    width: 100%;
    background-color: $accent;
}

// フォーム

.form-body
{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: $back;
    height:auto;
}

.form-field
{
    margin: 1rem 0;
}

.form-label
{
    font-weight: 500;
    margin:0.2rem 0;
}

.form-label-ano
{
    font-size: 70%;
    color: $annotation;
    margin-top:-0.2rem; 
}

.is-error
{
    .form-label-ano
    {
        color: red;
        margin-top:-0.5rem; 
        font-size: 85%;
    }

    input[type="text"]{
        box-shadow: 0px 0px 2px red;
    }
}

.form-text
{
    display: flex;
    flex-direction:column;
    input[type="text"]
    {
        width: 400px;
        height: 35px;
        border:0.5px $paragraph solid;
        // border: none;
        border-radius: 3px;
        &:focus
        {
            outline:none;
            box-shadow: 0px 0px 5px $link;
        }
    }
}

.form-group
{
    background-color: $sub-back;
    border: black 1px solid;
    padding:0.5rem;
}

.form-sub-title
{
    margin:0.2rem 0;
}

.form-is-col
{
    display: flex;
    column-gap: 1rem;
    // justify-content: space-between;
}

.form-radio-rows
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    width: 300px;
    padding:0.3rem;
    margin:0.5rem 0;
    .form-label
    {
        label
        {
            user-select: none;
            cursor: pointer;
        }
        margin-left:0.2rem;
        z-index: 1000;
        + .cover
        {
            border-radius: 10px;
            border: 0.1px solid #bca2aa;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color:rgb(255, 255, 255);
        }
    }
    input[type="radio"]
    {
        z-index: 1000;
        appearance: none;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        position: relative;
        // border: 1px $annotation solid;
        background-color: rgb(223, 207, 207);
        &::before
        {
            content: '';
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(10deg);
            appearance: none;
            border-radius: 50%;
            position: absolute;
            width:10px;
            height:10px;
        }
    }
    input[type="radio"]:checked
    {
        transition: 0.1s ease-in;
        background-color:$sub-back;
        border:none;
        z-index: 1000;
        + .form-label
        {
            margin-left:0.2rem;
            z-index: 1000;
            + .cover
            {
                border-radius: 10px;
                // border: 0.1px solid #bca2aa;
                position: absolute;
                width: 100%;
                height: 100%;
                background-color:$button;
                transition: 0.1s ease-in;
                box-shadow: 0px 0px 2px $link;
            }
        }
        &::before
        {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(10deg);
            appearance: none;
            transition: 0.1s ease-in;
            background-color:$button;
            border-radius: 50%;
            position: absolute;
            box-shadow: 0px 0px 10px rgb(255, 255, 255);
            width: 13px;
            height: 13px;
        }
    }
}

.form-radio-button
{
    display: flex;
    .form-label
    {
        width: auto;
        margin:0;
        padding:0 2rem;
        height:50px;
        background-color: rgb(254, 182, 182);
        border-right: 0.8px solid rgb(255, 255, 255);
        label
        {
            user-select: none;
            cursor: pointer;
            display: block;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }
    .is-first-label
    {
        border-radius: 10px 0 0 10px;
    }
    .is-last-label
    {
        border-radius:0 10px 10px 0;
    }

    input[type="radio"]
    {
        display: none;
    }
    input[type="radio"]:checked
    {
        + .form-label
        {
            transition: 0.1s ease-in;
            background-color: red;
        }
    }
}

.form-check
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    width:220px;
    padding:0.5rem; 
    margin:0.5rem 0;
    .form-label
    {
        label
        {
            user-select: none;
            cursor: pointer;
        }
        margin-left:0.5rem;
        z-index: 1000;
        + .cover
        {
            transition: 0.2s ease-in;
            border-radius: 10px;
            border: 0.1px solid #bca2aa;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color:rgb(255, 255, 255);
        }
    }

    input[type="checkbox"]
    {
        z-index: 1000;
        appearance: none;
        border-radius: 5px;
        width: 20px;
        height: 20px;
        position: relative;
        transition: 0.2s ease-in;
        background-color: rgb(223, 207, 207);
        &::after
        {
            transition: 0.2s ease-in;
            color: $link;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            appearance: none;
            transition: 0.1s ease-in;
            transition: 0.1s ease-in;
            position: absolute;
        }
        &::before
        {
            top: 50%;
            left: 50%;
            transition: 0.2s ease-in;
            transform: translate(-50%, -50%) rotate(10deg);
            appearance: none;
            border-radius: 50%;
            position: absolute;
            width:10px;
            height:10px;
        }
    }
    input[type="checkbox"]:checked
    {
        transition: 0.1s ease-in;
        background-color:$sub-back;
        border:none;
        z-index: 1000;
        + .form-label
        {
            z-index: 1000;
            + .cover
            {
                border-radius: 10px;
                // border: 0.1px solid #bca2aa;
                position: absolute;
                width: 100%;
                height: 100%;
                background-color:$button;
                transition: 0.1s ease-in;
                box-shadow: 0px 0px 2px $link;
            }
        }
        &::after
        {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f00c";
            color: $link;
            transition: 0.1s ease-in;
        }
        &::before
        {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            appearance: none;
            transition: 0.1s ease-in;
            background-color:$button;
            position: absolute;
        }
    }
    // display: flex;
    // align-items: center;
    // input[type="checkbox"]
    // {
    //     appearance: none;
    //     border: 1px solid $annotation;
    //     width: 15px;
    //     height: 15px;
    // }
    // .form-label
    // {
    //     margin-left:0.3rem ;
    // }

    // input[type="checkbox"]:checked
    // {
    //     background-color: #bca2aa;
    // }

}