@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Outfit:wght@600;700;800;900&family=Shippori+Mincho&family=Zen+Kaku+Gothic+New&display=swap');

// colors
$main:#EF9A9A;
$button:rgb(255, 210, 210);
$sub-back:rgb(255, 242, 242);
$back:rgb(255, 255, 255);
$font:#33272a;
$accent:#50915a;
$paragraph:#614a51;
$annotation:#9f9598;
$link:#ff8ba7;
$font-eng:'Outfit', sans-serif;
$font-jp:'Zen Kaku Gothic New', sans-serif;

* {
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Outfit', sans-serif;
    font-family: 'Shippori Mincho', serif;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    list-style: none;
    color: $font;
    text-decoration: none;
}

html,
body
{
    color: $font;
    font-family: $font-jp, $font-eng;
    height: 100%;
    margin: 0;
}

#root
{
    z-index: -100;
    background-color: $back;
    height: 100vh;
}

.link
{
    color:$link;
    &:hover
    {
        color:$accent;
    }
}

.title
{
    font-size: 150%;
    margin:1rem 0;
    font-weight:900;
}