.grid-auto {
    // width: 70%;
    gap: 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    background-color: rebeccapurple;
}

// .grid-child {
//     height: 600px;
//     width: 100%;
//     // background-color: $accent;
// }