#items
{
    overflow: hidden;
    height: 100%;
    padding:1rem;
    padding-top: 90px;
    width: 60%;
    margin:0 auto;

    .sub-disc
    {
        margin:1rem 0;
        p{
            text-align: left;
        }
    }
}
