#product {
    overflow: hidden;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .prd-wrap {
        width: 60%;
        display: grid;
        grid-template-columns: 1fr 0.7fr;

        .bread {
            font-size: 110%;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            padding: 1rem 0;

            ul {
                display: flex;

                li {
                    a:hover {
                        color: $main;
                    }

                    &:first-child {
                        &::after {
                            content: '\0bb';
                            margin-right: 0.2rem;
                        }
                    }
                }
            }
        }

        .prd-img {
            grid-column-start: 1;
            grid-row-start: 2;

            img {
                border-radius: 10px;
            }
        }

        .prd-sub {
            grid-column-start: 2;
            grid-row-start: 2;
            // background-color: lightcoral;
            display: grid;
            grid-template-rows: auto auto 1fr 1fr;
            height: 100%;
            width: 100%;

            // gap:2rem;
            .price {
                align-self: start;
                // background-color: palegoldenrod;
                font-weight: bolder;
                margin-bottom: 1rem;
                font-size: 140%;

                &::before {
                    content: '￥';
                }

                &::after {
                    content: '[税込]';
                    font-size: 70%;
                    font-weight: 100;
                }
            }

            .title {
                align-self: start;
                font-size: 160%;
                // background-color: aqua;
            }

            .bottom {
                height: 100%;
                align-self: center;
                width: 100%;
                // background-color: rebeccapurple;
                display: flex;
                justify-content: center;

                button {
                    text-align: center;
                    width: 100%;
                    height: 60px;
                    background-color: $button;
                    cursor: pointer;
                    border-radius: 10px;

                    &:hover {
                        background-color: $main;
                        color: white;
                    }
                }

                form {
                    width: 100%;

                    input[type="submit"] {
                        border: none;
                        background: none;
                        width: 100%;
                        height: 60px;
                        background-color: $button;
                        cursor: pointer;
                        border-radius: 10px;

                        &:hover {
                            background-color: $main;
                            color: white;
                        }
                    }
                }
            }
        }
    }


    .is-front {
        z-index: 10;
        position: absolute;
        width: 100%;
        height: 100%;
        display: grid;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        justify-content: center;
        align-items: center;
        background-color: rgba(95, 95, 95, 0.8);

        .field {
            width: 400px;
            height: 130px;

            .form-body {
                padding: 0;
                width: 100%;

                form {
                    display: grid;
                    row-gap: 1.5rem;
                    width: 100%;

                    .form-field {
                        margin: 1rem 0;
                        padding: 0 1rem;
                        width: 100%;

                        .form-text {
                            width: 100%;

                            .form-label {
                                margin: 0 1rem;
                            }
                        }
                    }

                    input[type="submit"] {
                        width: 200px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: rgb(246, 218, 222);
                        margin: 1rem auto 0 auto;
                        border-radius: 10px;
                        cursor: pointer;
                        border: none;

                        &:hover {
                            background-color: $main;
                            color: white;
                            // box-shadow:inset 0px 0px 10px rgb(255, 223, 228);
                        }
                    }

                    .order-count {
                        width: 100%;
                        display: grid;
                        grid-template-columns: 0.7fr 0.1fr 0.1fr ;
                        column-gap: 0.5rem;
                        justify-content: center;

                        input[type="number"] {
                            width: 100%;
                            font-size: 120%;
                            text-align: center;
                        }

                        #decrease,
                        #increase {
                            display: flex;
                            width: 100%;
                            height: 100%;
                            justify-content: center;
                            align-items: center;
                            background-color: rgb(250, 227, 227);
                            border-radius: 10px;
                            cursor: pointer;
                            &:hover
                            {
                                background-color: $main;
                            }
                        }
                    }
                }
            }
        }

        #cancel {
            margin-bottom: 1rem;
            color: $link;
        }
    }

    .is-hidden {
        display: none;
    }
}