#product
{
    overflow: hidden;
    position: absolute;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: aquamarine;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    .prd-wrap
    {
        width: 60%;
        display: grid;
        grid-template-columns:1fr 0.7fr;
        .bread
        {
            font-size: 110%;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            padding: 1rem 0;
            ul
            {
                display: flex;
                li
                {
                    a:hover
                    {
                        color: $main;
                    }
                    &:first-child{
                        &::after
                        {
                            content: '\0bb';
                            margin-right: 0.2rem;
                        }
                    }
                }
            }
        }
        .prd-img
        {
            grid-column-start: 1;
            grid-row-start: 2;
            img
            {
                border-radius: 10px;
            }
        }
        .prd-sub
        {
            grid-column-start: 2;
            grid-row-start: 2;
            // background-color: lightcoral;
            display: grid;
            grid-template-rows: auto auto 1fr 1fr;
            height: 100%;
            width: 100%;
            // gap:2rem;
            .price
            {
                align-self: start;
                // background-color: palegoldenrod;
                font-weight: bolder;
                margin-bottom: 1rem;
                font-size: 140%;
                &::before
                {
                    content: '￥';
                }
                &::after
                {
                    content: '[税込]';
                    font-size: 70%;
                    font-weight: 100;
                }
            }
            .title
            {
                align-self: start;
                font-size: 160%;
                // background-color: aqua;
            }

            .bottom
            {
                height: 100%;
                align-self: center;
                width: 100%;
                // background-color: rebeccapurple;
                display: flex;
                justify-content: center;
                form
                {
                    width: 100%;
                    input[type="submit"]
                    {
                        border: none;
                        background: none;
                        width: 100%;
                        height: 60px;
                        background-color:$button;
                        cursor: pointer;
                        border-radius: 10px;
                        &:hover
                        {
                            background-color: $main;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}