#top {
    overflow: hidden;
    padding-top: 100px;
    height: 100%;
    width: 100%;

    .top-hero {
        border-radius: 15px;
        transform-origin:center;
        position: relative;
        margin: 0 auto;
        width: 85%;
        height: 0%;
        // transform: scale(0, 1);
        background-image: linear-gradient(to bottom, #ffecd2 0%, #fcb69f 100%);
        // background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
        // background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);

        img
        {
            width: 600px;
            height: 600px;
            opacity: 0;
        }
        .phrase-hero-top {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 1.5rem;
            // top: rem;

            .title {
                display: flex;
                align-items: center;
                // background-color: aquamarine;
                overflow: hidden;
                width: 100%;
                font-feature-settings: "palt";
                span {
                    display: inline;
                    font-size: 700%;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 700;
                    // background-color:wheat;
                    vertical-align: bottom;
                    line-height: 1.1em;
                    display: flex;
                    align-items: center;
                    transform: translate(0, 200%);
                    letter-spacing: -0.3rem;
                    &:nth-child(2) {
                        transition-delay: 0.06s;
                    }

                    &:nth-child(3) {
                        transition-delay: 0.12s;
                    }

                    &:nth-child(4) {
                        transition-delay: 0.18s;
                    }

                    &:nth-child(5) {
                        transition-delay: 0.24s;
                    }

                    &:nth-child(6) {
                        transition-delay: 0.30s;
                    }

                    &:nth-child(7) {
                        transition-delay: 0.36s;
                    }

                    &:nth-child(8) {
                        transition-delay: 0.42s;
                    }

                    &:nth-child(9) {
                        transition-delay: 0.48s;
                    }

                    &:nth-child(10) {
                        transition-delay: 0.54s;
                    }

                    &:nth-child(11) {
                        transition-delay: 0.6s;
                    }

                    &:nth-child(12) {
                        transition-delay: 0.66s;
                    }

                    &:nth-child(13) {
                        transition-delay: 0.72s;
                    }

                    &:nth-child(14) {
                        transition-delay: 0.78s;
                    }
                }
            }

            .anim {
                span {
                    transition: 1s ease-in-out;
                    transform: translate(0, 0);
                }
            }
        }

        .hero-img {
            // この後three.jsに移行
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-10deg);
        }

        .phrase-hero-bottom {
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            right: -2rem;
            h2 {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                overflow: hidden;
                width: 100%;
                span {
                    text-align: end;
                    font-size: 410%;
                    font-family: 'Shippori Mincho', serif;
                    font-weight: bolder;
                    vertical-align: bottom;
                    line-height: 1.1em;
                    display: flex;
                    align-items: center;
                    letter-spacing: -0.3rem;
                    transform: translate(0, 200%);

                    &:nth-child(2) {
                        transition-delay: 0.06s;
                    }

                    &:nth-child(3) {
                        transition-delay: 0.12s;
                    }

                    &:nth-child(4) {
                        transition-delay: 0.18s;
                    }

                    &:nth-child(5) {
                        transition-delay: 0.24s;
                    }

                    &:nth-child(6) {
                        transition-delay: 0.30s;
                    }

                    &:nth-child(7) {
                        transition-delay: 0.36s;
                    }

                    &:nth-child(8) {
                        transition-delay: 0.42s;
                    }

                    &:nth-child(9) {
                        transition-delay: 0.48s;
                    }

                    &:nth-child(10) {
                        transition-delay: 0.54s;
                    }

                    &:nth-child(11) {
                        transition-delay: 0.6s;
                    }

                    &:nth-child(12) {
                        transition-delay: 0.66s;
                    }

                    &:nth-child(13) {
                        transition-delay: 0.72s;
                    }

                    &:nth-child(14) {
                        transition-delay: 0.78s;
                    }
                }
            }
            .anim {
                span {
                    transition: 1s ease-in-out;
                    transform: translate(0, 0);
                }
            }
        }
    }

    .back-anim
    {
        transition: 1.2s ease-in-out;
        height: 95%;
        // transform: scale(1);
        img
        {
            transition: 2s ease-in-out;
            opacity: 1;
        }
    }
}

.title-logo {
    width: 30%;
}

@keyframes view {
    0% {
        transform: translate(0, 500%);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0%);
    }
}