@charset 'utf-8';
@import "../css/bulma.css";

.user-area
{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 91%;
    width: 40%;
    background-color: white;
    transform: translate(-50%, -50%);
    text-align: center;
}


.flex
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-area
{
    margin-top:2rem;
}

.line
{
    background-color:$link;
    width: 73%;
    height: 1px;
    margin: 0 auto;
    margin-top: 1.5rem;
}

.page-title
{
    font-size: 150%;
    margin-top:1.2rem;
    font-weight:900;
}

.login
{
    margin-top: 1rem;
    p
    {
        font-size: 85%;
    }
    .login-button
    {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.7rem;
        // width: ;
        // background-color: aqua;
        a 
        {
            border: 1px $annotation solid;
            height: 40px;
            width:150px;
            display: flex;
            align-items: center; 
            justify-content: center;
            text-align: center;
            font-size: 85%;
            color:rgb(0, 190, 190);
            border-radius: 10px;
            &:hover
            {
                color: rgb(241, 60, 60);
                background-color: rgb(255, 244, 244);
            }
        }
    }
    
}


.errorlist
{
    li
    {
        text-align: left;
        font-size: 70%;
        font-weight: bolder;
        color: red;
    }
}

.cover
{
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.register
{
    margin-top:1rem
}